@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
    --background: #000000;
    --input: #000000;
    --danger: #e24c4b;
    --green: #6cafe0;
    --less: #f36161;
    --more: #a4d166;
}
.App {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
input, button {
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
.list {
    display: flex;
    flex-direction: column;
}
.list.busy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list,
.prompt {
    padding: 1rem 0;
    background: var(--background);
    min-height: 100%;
}
.prompt-t {
    color: #F26A8D;
    padding: 1rem;
    text-align: center;
}
.prompt-c {
    display: flex;
    padding: 0 .5rem;
}
.prompt-c > div {
    flex: 1;
    padding: 0 .5rem;
}
.list-g {
    margin-bottom: 1rem;
    display: flex;
    padding: 0 1rem;
}
.list-gs {
    padding: 0 1rem;
}
.btnc img,
.list-gb img {
    width: 20px;
    vertical-align: top;
}
.list-c {
    padding: 1rem 0;
    flex: 1;
}
.list-gi {
    flex: 1;
    margin-right: 1rem;
}
button {
    background: #fff;
    border: none;
    height: 2rem;
    border-radius: 1rem;
    padding: 0;
}

.list-g button,
.list-c button {
    width: 32px;
}
.prompt {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prompt button,
.list-gs button {
    width: 100%;
}
.list input {
    height: 2rem;
    background: var(--input);
    border: 1px solid #555;
    padding: 0 1rem;
    border-radius: 1rem;
    width: 100%;
    color: #fff;
}
.list-i {
    display: flex;
    transition: background-color 500ms linear;
    padding: .5rem 1rem;
    user-select: none;
}
.list-i:active {
    background-color: #EEE5E9;
}
.list-i .lbl {
    flex: 1;
    color: #EEE5E9;
    line-height: 2rem;
}
.list-i .inp {
    width: 5rem;
    padding: 0 .5rem;
}
.inp input {
    text-align: center;
}
.list-i.empty {
    justify-content: center;
    color: #F26A8D;
}
button.danger {
    background: var(--danger);
    color: #fff;
}
button.danger:active {
    background: rgb(214, 57, 37);
}
button.less,
button.more {
    color: #fff;
}
button.more {
    background: var(--more);
}
button.less {
    background: var(--less);
    color: #333;
}
button.green {
    background: var(--green);
}
.lds {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #fff transparent #fff transparent;
    animation: spin 0.7s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }